html {
    scroll-behavior: smooth;
}

/* body styling */


body {
    /* height: 4000px; */
    font-family: 'Open Sans', sans-serif;
}

/* header section styling */
header {
    background-image: url(../Img/bg-img-01.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


header .headerCaption h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 8px #000000;
    color: #EBE9EB;
}

header .headerCaption p {
    color: #fff;
    font-size: 1.18rem;
    font-weight: 300;
}


/* Start Of Section three */
.sec-three {
    background-image: url(../Img/bg-img-05.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

.sec-three .caption {
    background-color: #ffffffc4;
}

.sec-three .caption p {
    font-size: 1.5rem;
    font-weight: 300;
}

/* End Of Section three */

/* Start Of Section Four */
#sec-four{
    background-image: url(../Img/bg-img-04.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 80px 0;
}

#sec-four ol.carousel-indicators li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

/* End Of Section Four */

/* Start Of Section Five */

.sec-five
{
background-image: url('../img/bg-img-06.jpg');
background-size: cover;
background-position: center center;
background-attachment: fixed;
min-height: 100vh;
}
.sec-five .form-control {
    color: #495057;
    opacity: 0.7;
}
.sec-five .form-group{
    margin-top: -15px;
}
.sec-five .section-title {
    margin-left: 250px;
    margin-top: 200px;
}
.sec-five a {
    color: #fff;
}
.sec-five a:hover {
    color:darkorange;
}

.sec-five .caption {
    color: #fff;
    font-size: 20px;
}
.sec-five .btn {
    width: 150px;
    height: 50px;
    background-color: #C66666;
    border-color: #C66666;
    margin-left: 200px;
    margin-top: 20px;
}
.sec-five h2 {
    margin-top: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
/* End Of Section Five */
